<div class="page">
  <h1>All Questions</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Question</th>
        <th class="text-center">Responses</th>
        <th class="text-center">Open?</th>
        <th>Date Asked</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |q| %>
        <tr>
          <td class="text-center"><span class="status <%= 'answered' if q.responses.length > 0 %>"></span></td>
          <td><%= link_to q.question, question_responses_path(q) %></td>
          <td class="text-center"><%= q.responses.length %></td>
          <td class="text-center"><span class="status <%= 'answered' if q.open %>"></span></td>
          <td>
            <% if q.date_asked %>
              <%= q.date_asked %>
            <% else %>
              <em>pending</em>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to "Add a Question", { action: "new" }, class: "btn" %>
  </div>
</div>