<div class="page">
  <h1><%= @question.question %></h1>

  <ul>
    <% if @responses.any? %>
      <% @responses.each do |r| %>
        <li class="reply">
          <strong>"<%= r.answer %>"</strong>, said <%= r.user %>
          <span class="pull-right">
            <%= link_to "✒ Edit", edit_question_response_path(@question, r), action: "edit", class: "primary" %> &nbsp; 
            <%= link_to "✖ Delete", question_response_path(@question, r), method: :delete, data: {confirm: "Are you sure you want to delete this response?"}, class: "danger" %>
          </span>
        </li>
      <% end %>
    <% else %>
      <li>No responses yet.</li>
    <% end %>
  </ul>

  <div class="actions">
    <%= link_to "Back to All Questions", questions_path, class: "btn btn-gray" %>
    <%= link_to "Add Response", { action: "new" }, class: "btn" %>
    <%= link_to 'Delete Question', question_path(@question), method: :delete, data: {confirm: "Are you sure you want to delete this question and all responses?"}, class: "btn btn-danger" %>
  </div>
</div>